<md-grid-list md-cols-sm="1" md-cols-gt-sm="3" md-cols-md="5" md-cols-gt-md="10" md-cols-lg="15" md-cols-gt-lg="20" md-row-height-gt-md="1:1" md-row-height="2:2" md-gutter="12px" md-gutter-gt-sm="8px" >
    
    <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

     <md-grid-tile style="background-color: #4D4D4D;" md-colspan-gt-lg="5" md-colspan-lg="1" md-colspan-gt-md="4" md-colspan-md="1" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#1: (3r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #00FF00;" md-colspan-gt-lg="2" md-colspan-lg="1" md-colspan-gt-md="1" md-colspan-md="2" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#2: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile style="background-color: #FFFF00;" md-colspan-gt-lg="3" md-colspan-lg="3" md-colspan-gt-md="1" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#3: (1r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile  md-rowspan="2" style="background-color: #0066FF;" md-colspan-gt-lg="1" md-colspan-lg="1" md-colspan-gt-md="2" md-colspan-md="3" md-colspan-gt-sm="1" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#4: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="red" style="background-color: #FF0000;" md-colspan-gt-lg="1" md-colspan-lg="6" md-colspan-gt-md="3" md-colspan-md="2" md-colspan-gt-sm="3" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#5: (2r x 2c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="green" style="background-color: #CC00FF;" md-colspan-gt-lg="1" md-colspan-lg="2" md-colspan-gt-md="2" md-colspan-md="1" md-colspan-gt-sm="2" md-colspan-sm="1">
      <md-grid-tile-footer>
        <h3>#6: (2r x 1c)</h3>
      </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>